* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #eee;
  overflow: hidden;
}

header,
section {
  user-select: none !important;
}

img {
  user-select: none;
  pointer-events: none;
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

/* /////////// Tipografia /////////// */
span,
a,
p,
h1,
h2,
h3,
input {
  font-family: "Segoe UI", "Roboto", sans-serif;
  cursor: default;
}

/* /////////// main /////////// */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

section .btn {
  padding: 8px 16px;
  border: none;
  border-radius: 3px;
  background-color: #1689fc;
  color: #fff;
  cursor: pointer;
}

section .btn:hover {
  background-color: #55a8fc;
  transition: 0.3s;
}

section .btn.btn-next {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

section .btn.btn-previous {
  position: absolute;
  top: 60px;
  left: 30px;
}

section.home p {
  margin-bottom: 15px;
}

section.home .input-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 18px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  max-width: 400px;
  max-height: 51px;
  overflow: hidden;
}

section.home .input-search #placeholder {
  color: #929292;
  margin-left: 10px;
  white-space: nowrap;
}

section.home .input-search #new-placeholder {
  display: none;
  color: #111213;
  margin-left: 10px;
  white-space: nowrap;
}

section.action-page {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #eee;
}

section.action-page label {
  margin-top: 60px;
}

section.action-page .printer-input {
  padding: 5px 18px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgb(233, 233, 233);
  width: 300px;
  height: 35px;
  margin: 15px 0;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

section.action-page .printer-input {
  outline: 0;
}

.error {
  display: block;
  color: red;
  margin-top: 6px;
}

/* /////////// keyframes /////////// */
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20%,
  60% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  40%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
